Repository phkoenig/kessel-boilerplate: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write

docs: Update CLI documentation to reflect new Supabase project creation flow
  docs/04_knowledge/cli-automatische-features.md
  docs/04_knowledge/cli-workflow.md
  next-env.d.ts
Due: eslint --fix, prettier --write

feat: Add bugs/features tables, update standard users to simple credentials
  README.md
  docs/04_knowledge/cli-workflow.md
  scripts/create-test-users.mjs
  supabase/migrations/008_bugs_features.sql
Due: eslint --fix, prettier --write

Update: Passwörter in Dokumentation auf admin123/user123 aktualisiert
  README.md
  docs/04_knowledge/cli-workflow.md
  scripts/create-test-users.mjs
Due: eslint --fix, prettier --write

Fix: Migration-Script verwendet jetzt REST API statt supabase db push
  scripts/apply-migrations-to-schema.mjs
Due: eslint --fix, prettier --write

Fix: Migration-Script verwendet jetzt direkte PostgreSQL-Verbindung mit pg
  package.json
  scripts/apply-migrations-to-schema.mjs
Due: eslint --fix, prettier --write

fix: Auth-State nach Dev-Login explizit aktualisieren
  src/components/auth/dev-user-selector.tsx
Due: eslint --fix, prettier --write

feat: Zeige User-Namen statt 'User Details' in Navbar
  src/components/shell/Navbar.tsx
Due: eslint --fix, prettier --write

feat: enable Local Dev Bypass by default
  README.md
  docs/04_knowledge/secrets-management.md
  scripts/pull-env.mjs
Due: eslint --fix, prettier --write

fix: add vercel.json for pnpm support
  vercel.json
Due: prettier --write

fix: install pnpm globally before install
  vercel.json
Due: prettier --write

fix: skip env validation during Vercel build
  vercel.json
Due: prettier --write

fix: TypeScript errors for Multi-Tenant Schema compatibility
  next-env.d.ts
  pnpm-lock.yaml
  src/app/(auth)/login/page.tsx
  src/app/(auth)/signup/page.tsx
  src/app/api/dev/impersonate/route.ts
  supabase/.temp/cli-latest
Due: eslint --fix, prettier --write

feat: RLS-basierte Multi-Tenant-Architektur
  docs/04_knowledge/index.md
  docs/04_knowledge/multi-tenant-architektur.md
  docs/04_knowledge/rls-auth-hook-setup.md
  docs/04_knowledge/rls-testing-guide.md
  docs/04_knowledge/tenant-migration-guide.md
  scripts/apply-migrations-to-schema.mjs
  scripts/migrate-schema-to-tenant.mjs
  scripts/test-tenant-setup.mjs
  src/lib/themes/storage.ts
  src/lib/themes/theme-provider.tsx
  src/lib/utils/tenant.ts
  src/utils/supabase/client.ts
  src/utils/supabase/server.ts
  supabase/migrations/009_rls_tenant_setup.sql
  supabase/migrations/010_add_tenant_id_columns.sql
  supabase/migrations/011_rls_tenant_policies.sql
  supabase/migrations/012_normalized_roles.sql
  supabase/migrations/013_add_app_schema_to_postgrest.sql
  supabase/migrations/014_tenant_rpc_functions.sql
  supabase/migrations/016_reset_postgrest_config.sql
  supabase/migrations/017_fix_profiles_rls_recursion.sql
  supabase/migrations/__tests__/009_rls_tenant_setup.test.ts
  supabase/migrations/__tests__/010_add_tenant_id_columns.test.ts
  supabase/migrations/__tests__/011_rls_tenant_policies.test.ts
  vitest.config.ts
Due: eslint --fix, prettier --write

refactor(rules): Überarbeitung der .cursor/rules MDC-Dateien
  .cursor/rules/ai-sdk.mdc
  .cursor/rules/forms.mdc
  .cursor/rules/mcp.mdc
  .cursor/rules/nextjs.mdc
  .cursor/rules/openrouter.mdc
  .cursor/rules/playwright.mdc
  .cursor/rules/react.mdc
  .cursor/rules/secrets.mdc
  .cursor/rules/shell.mdc
  .cursor/rules/storybook.mdc
  .cursor/rules/supabase.mdc
  .cursor/rules/tailwind.mdc
  .cursor/rules/theming.mdc
  .cursor/rules/typescript.mdc
  .cursor/rules/ui-components.mdc
  .cursor/rules/vitest.mdc
Due: none

fix(lint): ESLint-Fehler und Warnungen behoben
  scripts/check-dev-server.mjs
  scripts/execute-migration-via-api.mjs
  scripts/test-ai-chat-flow.mjs
  scripts/test-chat-api.mjs
  scripts/test-chat-direct.ts
  scripts/test-full-flow.mjs
  scripts/test-openrouter.ts
  scripts/test-tenant-setup.mjs
  scripts/test-tool-generation.mjs
  src/app/(shell)/account/design-system/theme-management/page.tsx
  src/app/(shell)/account/layout-templates/blog/page.tsx
  src/app/(shell)/account/profile/page.tsx
  src/app/(shell)/account/roles/_components/RoleManagement.tsx
  src/app/(shell)/account/roles/page.tsx
  src/app/(shell)/account/theme/page.tsx
  src/app/(shell)/account/users/page.tsx
  src/app/api/chat/route.ts
  src/app/api/themes/__tests__/import.test.ts
  src/components/attachment.tsx
  src/components/shell/AIChatPanel.tsx
  src/components/shell/AssistPanel.tsx
  src/components/tree.tsx
  src/components/ui/command.tsx
  src/components/ui/expandable-search.tsx
  src/hooks/use-chat-persistence.ts
  src/lib/ai/__tests__/test-fixtures.ts
  src/lib/ai/__tests__/test-helpers.ts
  src/lib/ai/__tests__/tool-calling-e2e.test.ts
  src/lib/ai/__tests__/tool-executor.test.ts
  src/lib/ai/__tests__/tool-registry.test.ts
  src/lib/ai/openrouter-provider.ts
  src/lib/fonts/__tests__/registry.test.ts
  supabase/migrations/__tests__/018_ai_datasources.test.ts
Due: eslint --fix, prettier --write

fix: Build-Fehler beheben
  next-env.d.ts
  scripts/test-openrouter.ts
  src/app/(shell)/account/profile/page.tsx
  src/app/(shell)/account/roles/_components/RoleManagement.tsx
  src/components/shell/AIChatPanel.tsx
Due: eslint --fix, prettier --write

refactor(ai): Auto-Reload nur bei Write-Tool-Calls
  src/components/shell/AIChatPanel.tsx
Due: eslint --fix, prettier --write

feat(ai): AI Component Governance mit ESLint Enforcement
  .cursor/plans/live_theme_editor_b9985856.plan.md
  README.md
  ai-manifest.json
  docs/ai-interactable-pr-pitch.md
  docs/ai-interactable-system.md
  eslint.config.mjs
  eslint/rules/README.md
  eslint/rules/require-ai-wrapper.js
  next-env.d.ts
  public/ai-manifest.json
  scripts/test-ai-router.ts
  src/app/(shell)/account/design-system/colors/page.tsx
  src/app/(shell)/account/design-system/fonts/page.tsx
  src/app/(shell)/account/design-system/geometry/page.tsx
  src/app/(shell)/account/design-system/theme-management/page.tsx
  src/app/(shell)/account/design-system/tweak/page.tsx
  src/app/api/chat/route-router/route.ts
  src/app/api/chat/route.ts
  src/components/ai/AIInteractable.tsx
  src/components/shell/AIChatPanel.tsx
  src/components/shell/AssistPanel.tsx
  src/components/shell/ExplorerPanel.tsx
  src/components/theme/SaveThemeDialog.tsx
  src/components/theme/TokenEditor.tsx
  src/config/navigation.ts
  src/hooks/use-theme-editor.ts
  src/lib/ai-chat/context-collector.ts
  src/lib/ai/__tests__/ai-router.test.ts
  src/lib/ai/__tests__/model-router.test.ts
  src/lib/ai/ai-registry-context.tsx
  src/lib/ai/ai-router.ts
  src/lib/ai/model-router.ts
  src/lib/ai/special-tools.ts
  src/lib/ai/theme-tools.ts
Due: eslint --fix, prettier --write

fix: Resolve ESLint errors in editable token cards
  src/app/(shell)/account/design-system/tweak/page.tsx
  src/components/theme/ColorTokenPopover.tsx
  src/components/theme/TokenEditor.tsx
Due: eslint --fix, prettier --write

docs: Add comprehensive design tokens overview
  docs/04_knowledge/design-tokens-overview.md
  docs/04_knowledge/index.md
Due: prettier --write

docs: Correct design tokens overview - TweakCN provides more than colors
  docs/04_knowledge/design-tokens-overview.md
Due: prettier --write

docs: Document actual usage of status color tokens in codebase
  docs/04_knowledge/design-tokens-overview.md
Due: prettier --write

refactor(theme-editor): Redesign mit vertikalem Layout
  .cursor/plans/live_theme_editor_b9985856.plan.md
  .cursor/plans/theme_editor_redesign_8594e1c5.plan.md
  next-env.d.ts
  src/app/(shell)/about/bugs/page.tsx
  src/app/(shell)/about/features/page.tsx
  src/app/(shell)/account/app-status/page.tsx
  src/app/(shell)/account/design-system/tweak/page.tsx
  src/app/(shell)/account/layout-templates/dashboard/page.tsx
  src/app/(shell)/account/payment/page.tsx
  src/app/(shell)/account/profile/page.tsx
  src/app/globals.css
  src/components/theme/ColorPairSwatch.tsx
  src/components/theme/ColorTokenPopover.tsx
  src/components/theme/FloatingToolbar.tsx
  src/components/thread.tsx
  src/components/ui/saveable-input.tsx
  src/hooks/use-theme-editor.ts
  src/lib/shadow-parser.ts
  supabase/migrations/019_fix_profiles_insert_rls.sql
  supabase/migrations/020_role_delete_fallback.sql
  supabase/migrations/021_profiles_theme_preference.sql
  supabase/migrations/022_auto_user_tenant_assignment.sql
  tsconfig.tsbuildinfo
Due: eslint --fix, prettier --write

feat(color-picker): react-colorful statt nativer Browser-Picker
  package.json
  pnpm-lock.yaml
  src/app/globals.css
  src/components/ui/color-picker.tsx
Due: eslint --fix, prettier --write

fix(color-picker): Infinite loop durch useEffect-Dependencies behoben
  src/app/(shell)/account/design-system/tweak/page.tsx
  src/components/theme/ColorPairSwatch.tsx
  src/components/ui/color-picker.tsx
Due: eslint --fix, prettier --write

fix(theme-editor): Slider-Position, Shadow-Controls und Global Adjustments
  src/app/(shell)/account/design-system/tweak/page.tsx
Due: eslint --fix, prettier --write

feat(theme-editor): Add ThemeDetailPanel in Spalte 4 with inline ColorPicker
  .cursor/plans/theme_editor_redesign_8594e1c5.plan.md
  src/app/(shell)/account/design-system/tweak/page.tsx
  src/app/(shell)/layout.tsx
  src/app/globals.css
  src/components/shell/Breadcrumbs.tsx
  src/components/shell/FloatingBreadcrumbs.tsx
  src/components/theme/ColorPairSwatch.tsx
  src/components/theme/FloatingToolbar.tsx
  src/components/theme/ThemeDetailPanel.tsx
  src/hooks/theme-editor-context.tsx
  src/hooks/use-theme-editor.ts
Due: eslint --fix, prettier --write

fix: Build-Fehler behoben (unused ts-expect-error, turnAnchor type)
  src/components/theme/ThemeDetailPanel.tsx
  src/components/thread.tsx
Due: eslint --fix, prettier --write

feat(ui): Bug-Report und Feature-Wishlist um Reporter/Proposer und Datum/Uhrzeit erweitert
  src/app/(shell)/about/bugs/page.tsx
  src/app/(shell)/about/features/page.tsx
Due: eslint --fix, prettier --write

docs: AI Interactable System Doku aktualisiert
  docs/ai-interactable-pr-pitch.md
  docs/ai-interactable-system.md
Due: prettier --write

feat(ai-chat): Kostenanzeige + Fix für Theme-Tool Streaming-Fehler
  src/app/api/chat/route.ts
  src/components/message-cost.tsx
  src/components/thread.tsx
  src/lib/ai/cost-calculator.ts
  src/lib/ai/theme-tools.ts
Due: eslint --fix, prettier --write

fix: window.location.reload() für zuverlässige Daten-Aktualisierung nach DB-Änderungen
  src/components/shell/AIChatPanel.tsx
Due: eslint --fix, prettier --write

style: Schatten-Override aus Composer Attachment Dropzone entfernen
  src/components/thread.tsx
Due: eslint --fix, prettier --write

feat: Kostenanzeige-Grundgerüst + Dokumentation + neue Features
  .cursor/rules/supabase-projects.mdc
  docs/04_knowledge/ai-chat-tool-calling.md
  docs/04_knowledge/supabase-migrationen.md
  docs/04_knowledge/zwei-supabase-projekte.md
  src/app/api/chat/route.ts
  src/app/api/user/theme/route.ts
  src/components/message-cost.tsx
  src/hooks/use-database-refresh.ts
  src/lib/ai-chat/boilerplate-tools.ts
  src/lib/ai/google.ts
  src/lib/ai/index.ts
  supabase/migrations/009_user_theme_preference.sql
Due: eslint --fix, prettier --write

fix: Remove invalid onAction prop from AIInteractable
  next-env.d.ts
  src/app/(shell)/account/profile/page.tsx
Due: eslint --fix, prettier --write

fix(auth): Dev Bypass führt jetzt auch Auth-Check durch und redirectet zu /login
  .cursor/rules/nextjs.mdc
  README.md
  docs/04_knowledge/secrets-management.md
  docs/04_knowledge/supabase_auth.md
  src/proxy.ts
Due: eslint --fix, prettier --write

style(avatar): Avatare vergroessern und Kontrast erhoehen
  src/components/shell/FloatingChatButton.tsx
  src/components/shell/UserAvatar.tsx
  src/components/ui/avatar.tsx
Due: eslint --fix, prettier --write

style(avatar): Beide Avatare gleich gross (size-12), Border entfernt
  src/components/shell/FloatingChatButton.tsx
  src/components/ui/avatar.tsx
Due: eslint --fix, prettier --write

fix(hydration): suppressHydrationWarning für dynamische Attribute hinzugefügt
  src/components/shell/FloatingBreadcrumbs.tsx
  src/components/shell/FloatingChatButton.tsx
  src/components/shell/PageContent.tsx
  src/components/shell/UserAvatar.tsx
Due: eslint --fix, prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx,js,jsx,mjs}
  prettier --write: (any of: *.{ts,tsx,js,jsx,mjs}) or (any of: *.{json,md,mdx,css,html,yml,yaml,tsx,ts})
